body {
    background-color: #607080;
    color: white;
    margin: 0;
    font-family: Helvetica;
}

header {
	background:#40A1FF;
	width:100%;
	display: flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
    
}

.logo {
    height: 90px;
    width: 175px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav a:hover {
    color: #ff9840;
}

header nav {
	width:30.70%;
    padding-right: 21.4px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
    justify-content:space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.container {
	width:80%;
	margin:auto;
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

section img {
    border-radius: 50%;
    width: 90px;
}

section {
    padding: 15px;
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 25px;
    background-color: #38E0C7;
    width: 100%;
    
    
}
section h2 {
    padding-left: 23px;
    font-size: 23.4px;
}

.pcGaming, .monitores, .cascos{
    width: 27%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;

}



.pcGaming img, .monitores img, .cascos img {
    width: 170px;
    
}

.pcGaming p, .monitores p, .cascos p{
    color:#ff9840;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    background-color: #806F60;
    padding: 20px;
}

h2 {
    font-size: 13px;
    text-align: center;
}

footer {
	background:#40A1FF;
	padding:32.5px;
	display: flex;
	justify-content:space-between;
    align-items: center;
    width: 100%;
    padding-left: 33px;
    padding-right: 33px;
}
footer p {
    color: #fff;
    margin: 0;
    font-size: 20px;
}

footer .social img {
    width: 36px;
    margin-right: 10px;
}

.social {
    margin-top: 1px;
}
