body {
    background-color: #607080;;
    color: white;
    margin: 0;
    font-family: Helvetica;
}

header {
    background: #40A1FF;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 20px;
}

header nav {
    display: grid;
    grid-gap: 53px;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 4px;
}

.slider {
    width: 100%;
    height: 85%;
}

.content-wrapper {
    margin-top: -23px;
    display: grid;
    grid-template-columns: 1fr 28%;
    gap: 4px;

}

.main {
    padding: 20px;
    background-color: #806F60;
}


aside {
    background: #38E0C7;
    display: grid;
}

.centrarImagen {
    width: 63%;
    margin: auto;
}

aside h2 {
    text-align: center;
    padding: 10px;
    font-size: 27px;
    background-color: #138174;


}
aside p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.sliderSep {
    height: 155px;
}


footer {
    background: #40A1FF;
    padding: 33px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
}

footer .social img {
    width: 36px;
    margin-right: 10px;
}

footer p {
    color: #fff;
    margin: 0;
    font-size: 20px;
}

header nav a:hover {
    color: #ff9840;
}

.logo {
    height: 90px;
    width: 175px;
}

.titulo {
    font-size: 37px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 38px;


}

article p {
    font-size: 25px;
    padding-top: 12px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

